{% extends "layouts/main.html" %}
{% block content %}
<h1>Detalles de {{question.question_text}}</h1>
<!--Si hay un error-->
{%if error_message%}
	<!--Mostraremos dicho problema--> 
	<p>
		<strong>
			{{error_message}}
		</strong>
	</p>
{%endif%}
<!--direccionamos la ruta a la cual votar, la cual es 'vote' -->
<form action="{%url 'vote' question.id %}" method="POST">
	<!-- es un token que autogenera django, es para prevenir fugas de informacion-->
	{%csrf_token%}
	<!-- 
		Pasamos la variable question, en models.py creamos la clase Questiony la clase Choice, que esta asociada a una pregunta
		esta asociación podemos aprovecharla desde ambas clases. Entonces el nombre de la clase en la cual hay una clave
		foranea se le asigna '_set' -> 'choice_set' para acceder a todos los elementos de la clase choice que esten asociadas a la clase
		Question, que en este caso viene como un context 'question'. Ademas en las plantillas de django podemos ejecutar funciones, por ejemplo .all() obtiene todas las preguntas, pero no es necesario utilizar ()
	-->
	{%for choice in question.choice_set.all%}
		<!--
			con forloop.counter es un contador del iterador
		-->
		<input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}"/>
		<label for="choice{{forloop.counter}}">{{choice.choice_text}}</label></br>
	{%endfor%}
	<input type="submit" value="votar" class="btn btn-primary" />
</form>
{%endblock%}