{% extends "layouts/main.html" %}
{% block content %}
{%if latest_question_list%}<!--si hay preguntas, hacer... latest_question_list es el objeto que enviamos de views.py para manipularlo en el dom-->
<table class="table">
	<thead>
		<th>#</th>
		<th>Preguntas</th>	
	</thead>
	<!--Por cada pregunta que haya crearemos un elemento en la lista-->
	{%for question in latest_question_list%}<!--recorremos las preguntas con un for-->
	<tr>
		<td>{{question.id}}</td>
		<!--Mostramos un enlace que vaya a la pregunta, y ponemos como texto, el texto de la propia pregunta-->
		<td><a href="/encuestas/{{question.id}}/">{{question.question_text}}</a></td>
	</tr>	
	{%endfor%}
</table>
<!--Si no hay preguntas, mostrar el siguiente elemento-->
{%else%}
	<p>No existen preguntas</p>
{%endif%}
{%endblock%}
