{% extends "layouts/main.html" %}
{% block content %}
<h1>Resultado votos de {{question.question_text}}</h1>
{%for choice in question.choice_set.all%}<!--"pregunta" es el contexto que se envia, eleccion la clase-->
	<li>
		<p>{{choice.choice_text}} -- {{choice.votes}} voto{{choice.votes|pluralize}}</p>
	</li>
{%endfor%}
<a href="{%url 'detail' question.id%}">Votar de nuevo</a>
{%endblock%}